name: Deploy Frontend to Raspberry Pi

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
    - name: Deploy Frontend
      run: |
        cd /home/chirayu/palm-cafe/palm-cafe-ui
        git pull origin master
        npm install
        CI=false npm run build
        sudo cp -r build/* /var/www/palmcafe